# Default ignored files
/../../Ficha1 /.idea/shelf/
/../../Ficha1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ficha1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Ficha1 /.idea/dataSources/
/../../Ficha1 /.idea/dataSources.local.xml
